/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3.75rem;

    /*========== Colors ==========*/
    /* HSL color mode */
    --body-color: #06071B;
    --primary-color: hsl(266, 73%, 55%);
    --secondary-color: hsl(221, 27%, 20%);
    --dark-color: hsl(0, 0%, 7%);
    --light-dark-color: hsl(210, 83%, 30%);

    /*========== Font and typography ==========*/
    --body-font: 'Raleway', sans-serif;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    /* Not use for this project*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-overlay: -10;
    --z-ellipse: -20;
    --z-section: 100;
    --z-fixed: 1000;
    --z-modal: 10000;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --font-size-xxl: 4rem;
    --font-size-xl: 3rem;
    --font-size-l: 2rem;
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --font-size-xxl: 6rem;
        --font-size-xl: 4.5rem;
        --font-size-l: 3.5rem;
        --font-size-m: 1.5rem;
        --font-size-s: 1.25rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /*margin: 0 0 var(--header-height) 0;*/
    font-family: var(--body-font);
    font-size: var(--m-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    position: relative;
}

.overlay{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;   
    background-color: rgba(18, 18, 18, 0.5);
    --z-overlay: -10;
}

h1,
h2,
h3,
h4 {
    color: white;
    font-weight: var(--font-bold);
}

p,
span {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    overflow: hidden;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding-block: 4rem ;
}

.section-desc {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.3125rem;
    font-size: var(--font-size-m);
}

@media screen and (min-width: 968px) {
    .section-desc {
        line-height: 1.875rem;
    }
}

.section-title {
    color: white;
    text-align: center;
    font-size: var(--font-size-l);
    margin-bottom: 1rem;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
    text-align: center;
}

.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*==================== SCROLL-BAR ====================*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(19, 8%, 55%);
}

/*==================== HEADER & NAV ====================*/


.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
    transition: .3s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    align-items: center;
}


.nav-logo {
    color: var(--first-color);
    font-weight: var(--font-bold);
    font-size: 1.25rem;
    color: white;
}

.nav-link {
    color: white;
    font-weight: var(--font-medium);
}

.nav-link:hover {
    color: var(--primary-color);
    transition: .3s;
}

.nav-link-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


.nav-toggle,
.nav-close {
    display: flex;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--primary-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(266, 100%, 63%, 0.5);
        padding-block: 3.5rem;
        transition: top .4s;
        opacity: 0;
    }
}

.bg-header {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
    transition: .3s;
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}

/*NAV TOGGLE*/
.show-menu {
    top: 0;
    opacity: 1;
    /*Backdrop filter fixed nav göstermesi çözümü*/
}

/*==================== HOME ====================*/
.home-section {
    position: relative;
    margin-bottom: 5rem;
}

.home-container {
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;

}

.home-wave {
    position: absolute;
    top: 12rem;
    z-index: -1;
    transform: scale(3);
}

.home-elipse {
    position: absolute;
    width: 416px;
    height: 320px;
    left: -251px;
    top: -122.19px;
    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: matrix(0.49, 0.87, 0.83, -0.55, 0, 0);
    z-index: var(--z-ellipse);
}

.home-elipse-2 {
    position: absolute;
    width: 415px;
    height: 320px;
    left: 10rem;
    bottom: 0rem;
    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    transform: matrix(-0.51, -0.86, 0.82, -0.58, 0, 0);
    border-radius: 50%;
    z-index: var(--z-ellipse);
}

.home-img {
    /*mix-blend-mode: color-dodge;*/
    width: 220px;
    justify-self: center;
    margin-top: -2rem;
    margin-bottom: -1.5rem;
}

.home-title {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.section-title span {
    color: var(--primary-color);
}

.home-desc {
    margin-bottom: 2rem;
}

.home-btn {
    font-size: 1rem;
}

.home-btn i {
    transition: transform .3s;
}

.home-btn:hover i {
    transform: translateX(1rem);
}

/*==================== BUTTON ====================*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 3rem;
    color: white;
    border-radius: 2.5rem;
    column-gap: 1rem;
    transition: .4s;
}

.button:hover {
    background-color: var(--secondary-color);
}

/*==================== SKILLS ====================*/
.skills {
    position: relative;
}

.skills-elipse {
    position: absolute;
    width: 432px;
    height: 256px;
    left: -15rem;
    top: 5rem;
    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
}

.skills-elipse-2 {
    position: absolute;
    width: 608px;
    height: 360px;
    right: -22rem;
    bottom: -1rem;
    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
}

.skills-desc {
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 4rem;
}

.skills-container {
    row-gap: 6rem;
    justify-content: center;
}

.skills-content-wrapper {
    row-gap: 6rem;
    grid-template-columns: 300px;
    justify-content: center;
}

.card-title {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-desc {
    font-size: 1rem;
    font-weight: var(--font-regular);
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.skills-card {
    position: relative;
    overflow: visible;
    z-index: 0;
}

.skills-blur-circle-1 {
    position: absolute;
    /* filter: blur(2rem); */
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 280px;
    height: 140px;
    border-radius: 0 0 280px 280px;
    top: 0;
}

.skills-blur-circle-2 {
    position: absolute;
    /* filter: blur(2rem); */
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 280px;
    height: 140px;
    border-radius: 0 0 280px 280px;
    top: 0;
}


.skills-blur-circle-3 {
    position: absolute;
    /* filter: blur(2rem); */
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 280px;
    height: 140px;
    border-radius: 0 0 280px 280px;
    top: 0;
}


.skills-content {
    /* backdrop-filter: blur(8px); */
    padding: 3.5rem 2.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 20px 20px 25px rgb(0 0 0 / 20%);
    text-align: center;
    overflow: hidden;
}

.skills-content .card-title,
.card-desc {
    position: relative;
    z-index: 2;
}

.skills-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3.5rem;
    z-index: 1;
    width: 104px;
}

/*==================== CASES ====================*/
.cases {
    position: relative;
}

.cases-elipse {
    position: absolute;
    width: 600px;
    height: 356px;
    left: -22rem;
    bottom: -3rem;

    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
}

.statistics-title {
    font-weight: var(--font-bold);
}

.statistics-desc {
    font-weight: var(--font-regular);
    font-size: 0.875rem;
    margin-bottom: 5rem;
}

.statistics-wrapper {
    row-gap: 1.5rem;
    grid-template-columns: 240px;
    justify-content: center;
}

.cases-img {
    display: none;
}

.statistics-card {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 0.875rem;

    border: 2px solid rgba(43, 132, 248, 1);
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.5);
}

.statistics-card-title {
    font-weight: var(--font-medium);
    font-size: 1rem;
    color: rgba(150, 68, 255, 1);
}

.statistics-card-num {
    font-weight: var(--font-semi-bold);
    font-size: 1.5rem;
    font-feature-settings: 'lnum' 1;
    letter-spacing: 0.1rem;
}

/*==================== PROCESS ====================*/
.process {
    position: relative;
}

.process-elipse {
    position: absolute;
    width: 608px;
    height: 360px;
    right: -23rem;
    bottom: 42rem;

    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
}

.process-container {
    justify-content: center;
}

.process-desc {
    margin-bottom: 6.125rem;
    font-size: 0.875rem;
}

.process-content {
    grid-template-columns: 320px;
    justify-content: center;
    row-gap: 5.5rem;
}

.process-data {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1.5rem;
}

.process-data-img {
    margin-bottom: .5rem;
    width: 160px;
}

.process-data-title {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.process-data-desc {
    font-size: 1rem;
    font-weight: var(--font-regular);
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

/*==================== PROJECT ====================*/
.project {
    margin-bottom: 5.5rem;
    position: relative;
}

.project-elipse {
    position: absolute;
    width: 600px;
    height: 356px;
    left: -22rem;
    top: 0;

    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
}

.project-slide-container {
    overflow: visible;
    position: relative;
}

.project-title {
    margin-bottom: 1rem;
}

.project-desc {
    margin-bottom: 5.5rem;
}

.project-slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
}

.project-slide-title {
    font-weight: bold;
    font-size: 1rem;
}

.project-slide-desc {
    font-weight: var(--font-regular);
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.7);
}

.swiper-pagination {
    bottom: -2.75rem;
}

.swiper-pagination-bullet {
    width: .75rem;
    height: .75rem;
    background: rgba(196, 196, 196);
}

/*let's try something cool in case new slides are added later*/
/*give a margin value all bullet but not first bullet of swiper-paginations first child*/
.swiper-pagination>.swiper-pagination-bullet:not(:first-child) {
    margin-left: 8px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: rgba(150, 68, 255, 1);
}

.slide-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-btns {
    position: relative;
    bottom: -2.5rem;
    right: -10px;
    display: flex;
    column-gap: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #9644FF;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: 50%;
}

.swiper-button-prev {
    left: -85px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: .5rem;
    margin: 0 auto;
    font-weight: bold;
}

/*==================== BRAND SECTION ====================*/

.brand-desc {
    font-size: 0.875rem;
    font-weight: var(--font-regular);
    margin-bottom: 3.4rem;
}

.brand-content {
    padding-block: 3.5rem;
    row-gap: 1.5rem;
    place-items: center;
    margin-bottom: 5.5rem;
}

.brand-col,
.brand-col-2 {
    padding-block: .5rem;
}

.brand-col {
    grid-template-columns: repeat(2, 80px);
}

.brand-col-2 {
    grid-template-columns: repeat(3, 80px);
}

.brand-col .brand-img-row-1-3 {
    display: none;
}

.brand-col-2 .brand-img-row-2-4,
.brand-col .brand-img-row-3-3 {
    display: none;
}

/*==================== CONTACT SECTION ====================*/
.contact-container {
    text-align: center;
}

.contact {
    position: relative;
}



.contact-wave {
    position: absolute;
    z-index: -1;
    bottom: 1rem;
    transform: scale(3);
}

.contact-subtitle {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-weight: var(--font-regular);
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding-inline: 2rem;
    margin-bottom: 1.5rem;
}

.contact-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.contact .button {
    margin-bottom: 6.375rem;
}

/*==================== FOOTER ====================*/
.footer-container {
    padding-top: 2rem;
    row-gap: 1.5rem;
}

.footer {
    position: relative;
}

.footer-elipse {
    position: absolute;
    width: 608px;
    height: 360px;
    right: -23.5rem;
    bottom: 10rem;

    background: linear-gradient(95.22deg, rgba(216, 81, 219, 0.5) 19.01%, rgba(66, 232, 224, 0.5) 41.86%, rgba(62, 136, 245, 0.5) 65.09%);
    mix-blend-mode: normal;
    filter: blur(125px);
    border-radius: 50%;
    transform: rotate(-90deg);
    z-index: var(--z-ellipse);
    z-index: var(--z-ellipse);
}

.footer-hr {
    height: 1px;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.3)
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    color: white;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: space-around;
}

.social-icon {
    font-size: .875rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: .875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon a {
    display: inline-flex;
    color: white;
}

.footer-copy {
    font-weight: var(--font-regular);
    font-size: .875rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 2rem;
}


/* *{
    outline: 1px solid red;
} */

/*==================== RESPONSIVE ====================*/
@media screen and (max-width: 345px) {
    .section-title {
        font-size: 1.5rem;
    }

    .section-desc {
        font-size: var(--font-size-s);
    }

    .home-section {
        position: relative;
        margin-bottom: 3rem;
    }

    .slide-btns {
        right: 0;
    }

    .brand-col-2 {
        grid-template-columns: repeat(2, 80px);
    }

    .brand-img-row-2-3 {
        display: none;
    }

    .skills-content-wrapper {
        grid-template-columns: 220px;
        justify-content: center;
    }

    .card-desc {
        font-size: var(--font-size-s);
    }

    .statistics-wrapper {
        grid-template-columns: 220px;
    }

    .process-content {
        grid-template-columns: 270px;
    }

    .process-data-desc {
        font-size: 0.875rem;
    }

    .contact-wave {
        transform: scale(2.5);
        bottom: 5rem;
    }
}

@media screen and (min-width: 567px) {
    .brand-col {
        grid-template-columns: repeat(2, 120px);
    }

    .brand-col-2 {
        grid-template-columns: repeat(3, 120px);
    }

    .home-wave {
        transform: scale(2);
        top: 13rem;
    }

    .skills-elipse {
        left: -12rem;
    }

    .skills-elipse-2 {
        right: -20rem;
    }

    .cases-elipse {

        bottom: -2rem;
        left: -20rem;
    }

    .process-elipse {
        right: -20rem;
        bottom: 40rem;
    }

    .project-elipse {
        left: -19rem;
        top: 1rem;
    }

    .footer-elipse {
        right: -20rem;
        bottom: 12rem;
    }

    .contact-wave {
        transform: scale(2);
        bottom: 0;
    }

}

@media screen and (min-width: 767px) {

    .bg-header {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        /*border-radius: 10px;*/
        box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
        transition: .3s;
    }

    .home-wave {
        transform: scale(1.5);
        top: 7rem;
    }

    .contact-wave {
        transform: scale(1.5);
        bottom: -3rem;
    }

    .home-container,
    .skills-container,
    .statistics-container,
    .process-container,
    .brands-container,
    .contact-container {
        grid-template-columns: .8fr;
        justify-content: center;
    }

    .project-container {
        padding-inline: 3.325rem;
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 1.275rem;
    }

    .button {
        display: inline-flex;
    }

    .skills-content-wrapper {
        grid-template-columns: repeat(2, 270px);
    }

    .statistics-wrapper {
        grid-template-columns: repeat(2, 270px);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .process-title {
        padding: 0 1rem;
    }

    .process-content {
        grid-template-columns: repeat(2, 250px);
    }

    .process-data-img {
        width: 190px;
    }

    .home-elipse {
        width: calc(1.6*416px);
        height: calc(1.6*320px);
        left: -25rem;
        top: -15rem;
    }

    .home-elipse-2 {
        width: calc(1.6*416px);
        height: calc(1.6*320px);
        top: -19rem;
        right: -19rem;
    }

    .skills-elipse {
        width: calc(1.5*432px);
        height: calc(1.5*256px);
        left: -23rem;
    }

    .skills-elipse-2 {
        width: calc(1.5*432px);
        height: calc(1.5*256px);
        right: -23rem;
        bottom: -3rem;
    }

    .cases-elipse {
        width: calc(1.5*600px);
        height: calc(1.5*356px);
        left: -30rem;
    }

    .process-elipse {
        width: calc(1.5*600px);
        height: calc(1.5*356px);
        right: -33rem;
        bottom: 30rem;
    }

    .project-elipse {
        width: calc(1.5*600px);
        height: calc(1.5*356px);
        top: 10rem;
        left: -30rem;
    }

    .footer-elipse {
        width: calc(1.5*600px);
        height: calc(1.5*356px);
        bottom: 17rem;
        right: -27rem;
    }

    @media screen and (min-width: 968px) {
        .section-desc {
            font-size: 1.25rem;
        }
    }

    @media screen and (min-width: 1024px) {
        .container {
            margin-inline: auto;
        }

        .nav {
            height: calc(var(--header-height) + 1.5rem);
        }

        .nav-list {
            column-gap: 2rem;
        }

        .home-elipse {
            width: calc(1.7*416px);
            height: calc(1.7*320px);
        }

        .home-elipse-2 {
            width: calc(1.6*416px);
            height: calc(1.6*320px);
            left: 40rem;
            top: -10rem;
        }

        .skills-elipse {
            width: calc(1.7*432px);
            height: calc(1.7*256px);
            left: -27rem;
            top: 29rem;
        }

        .skills-elipse-2 {
            width: calc(1.7*432px);
            height: calc(1.7*256px);
            transform: matrix(-0.51, -0.86, 0.82, -0.58, 0, 0);
            bottom: 10rem;
            right: -26rem;
        }

        .cases-elipse {
            transform: rotate(-135deg);
            left: -35rem;
        }

        .process-elipse {
            width: calc(1.7*600px);
            height: calc(1.7*356px);
            right: -36rem;
            bottom: 20rem;
        }

        .project-elipse {
            width: calc(1.7*600px);
            height: calc(1.7*356px);
            top: 22rem;
            left: -34rem;
        }

        .footer-elipse {
            width: calc(1.7*600px);
            height: calc(1.7*356px);
            bottom: 17rem;
            right: -27rem;
        }

        .home-container,
        .skills-container,
        .statistics-container,
        .process-container,
        .brands-container,
        .contact-container {
            grid-template-columns: .9fr;
        }

        .project-container {
            padding-inline: 5.325rem;
        }

        .home-img {
            width: 300px;
            margin-top: -3rem;
        }

        .home-title {
            padding-inline: 2rem;
        }

        .home-desc {
            padding: 0 7rem;
        }

        .skills-content {
            margin-bottom: 8rem;
        }

        .home-wave {
            scale: 0.8;
        }

        .home-wave {
            top: 9rem;
        }

        .skills-desc {
            padding: 0 15rem;
        }

        .skills-content-wrapper {
            grid-template-columns: repeat(3, 300px);
        }

        .cases {
            position: relative;
        }

        .cases-img {
            display: initial;
            position: absolute;
            width: 100%;
            left: 0;
            z-index: -1;
            bottom: -3rem;
        }

        .statistics-wrapper {
            grid-template-columns: repeat(3, 278px);
            margin-bottom: 7rem;
        }

        .statistics-card-wrapper {
            display: flex;
            flex-direction: column;
        }

        .line {
            width: 2px;
            height: 110px;
            background-color: rgba(43, 132, 248, 1);
            margin: 0 auto;
        }

        .point {
            width: 24px;
            height: 24px;
            border: 2px solid rgba(43, 132, 248, 1);
            border-radius: 50%;
            margin: 0 auto;
        }

        .statistics-wrapper .statistics-card-wrapper:nth-child(2) {
            margin-top: 5.25rem;
        }

        .process-content {
            grid-template-columns: initial;
            grid-template-rows: repeat(3, 300px);
        }

        .process-data {
            display: flex;
            flex-direction: row;
            column-gap: 3.75rem;
        }

        .process-content .process-data:nth-child(2) {
            flex-direction: row-reverse;
        }

        .process-data div h2 {
            display: flex;
            justify-content: start;
        }

        .process-data div p {
            text-align: start;
        }

        .brand-col {
            grid-template-columns: repeat(3, 200px);
        }

        .brand-col-2 {
            grid-template-columns: repeat(4, 200px);
        }

        .brand-col img,
        .brand-col-2 img {
            display: initial;
        }

        .brand-col-2 .brand-img-row-2-4,
        .brand-col .brand-img-row-3-3,
        .brand-col .brand-img-row-1-3 {
            display: initial;
        }

        .contact-title {
            font-size: 3.125rem;
        }

        .contact-wave {
            top: 0;
        }

        .button {
            padding: 1rem 3.25rem;
        }
    }

    @media screen and (min-width: 1250px) {
        .container {
            max-width: 1200px;
        }

        .home-elipse {
            width: calc(1.9*416px);
            height: calc(1.9*320px);
            top: -20rem;
        }

        .home-elipse-2 {
            width: calc(1.9*416px);
            height: calc(1.9*320px);
            left: initial;
            right: -20rem;
            top: -24rem;
        }

        .skills-elipse {
            width: calc(2*432px);
            height: calc(2*256px);
            top: 35rem;
            left: -32rem;
        }

        .skills-elipse-2 {
            width: calc(2*432px);
            height: calc(2*256px);
            bottom: 0;
            right: -29rem;
        }

        .cases-elipse {
            left: -39rem;
        }

        .process-elipse {
            width: calc(2.3*600px);
            height: calc(2*356px);
            right: -44rem;
            bottom: 20rem;
        }

        .project-elipse {
            width: calc(2*600px);
            height: calc(2*356px);
            top: 22rem;
            left: -42rem;
        }

        .footer-elipse {
            width: calc(2*600px);
            height: calc(2*356px);
            bottom: 17rem;
            right: -45rem;
        }

        .home-container,
        .skills-container,
        .statistics-container,
        .process-container,
        .brands-container,
        .contact-container {
            grid-template-columns: 1fr;
        }

        .project-container {
            padding-inline: 5rem;
        }

        .home-title {
            padding-inline: 12rem;
        }

        .home-wave {
            top: 5rem;
            left: 50%;
            transform: translate(-50%);
            scale: 1;
        }

        .home-desc {
            padding-inline: 20rem;
        }

        .home-wave,
        .cases-img img,
        .contact-wave {
            width: 100%;
        }


        .skills-content-wrapper {
            grid-template-columns: repeat(3, 330px);
        }

        .statistics-wrapper {
            column-gap: 6rem;
        }

        .statistics-desc {
            padding-inline: 11rem;
        }

        .cases-img {
            bottom: -2rem;
        }

        .process-title {
            padding-inline: 13rem;
        }

        .process-desc {
            padding-inline: 15rem;
        }

        .process-content {
            grid-template-columns: .9fr;
        }

        .project-title {
            padding-inline: 5rem;
        }

        .project-desc {
            padding-inline: 11rem;
        }

        .slide-btns {
            right: 0;
        }

        .brand-desc {
            padding-inline: 18rem;
        }

        .contact-wave {
            scale: 0.7;
            top: -7rem;
        }
    }
}